<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人博客</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-3.4.1/css/bootstrap-theme.css">
    <script src="/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="/bootstrap-3.4.1/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="#"/>
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">我的博客</a>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>


        <ul class="nav navbar-nav navbar-right">
            <li>
                <!-- <a href="https://github.com/login/oauth/authorize?client_id=4caf32ba015199bb2b65&state=1098788">-->
                <a href="/login"><span class="glyphicon glyphicon-user"></span>登录</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">我<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">消息中心</a></li>
                    <li><a href="#">基础设置</a></li>
                    <li><a href="#">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>