<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-3.4.1/css/bootstrap-theme.css">
    <script src="/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="/bootstrap-3.4.1/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="#"/>
</head>
<body>

<div class="panel panel-login">
    <div class="login-form">

    </div>
    <div class="login-other">
        <h5>第三方账号登录</h5>
        <a href="https://github.com/login/oauth/authorize?client_id=4caf32ba015199bb2b65&state=1098788" class="btn btn-primary btn-block btn-github" role="button">
            <i class="iconfont icon-GitHub">  </i>
            GitHub 登录
        </a>
    </div>
</div>

</body>
</html>